[2012-11-04 12:15] stonier opened #1 "Install plugin xml"
Groovy complains about the missing plugin file (nodelet_topic_tools/test/test_nodelets.xml). It needs to either get installed (aka the image pipeline plugins) or not alert the system that there is a plugin.

How does it even alert the system that there's a plugin without the plugin file?

I'll copy some more detail re the error here after reproducing again tomorrow.

[2012-11-10 19:53] dirk-thomas commented on #1
Please explain when this happens for you. That plugin is for testing only and is neither exported in the package.xml file nor installed intentionally.

[2012-11-11 04:28] stonier commented on #1
Sorry, I meant to get back to this, but was updating with mars on what was the same problem elsewhere. All the plugins/nodelets were failing. Most of these are fixed now, but I'll check on Monday to see if the problem still exists. It was occurrung when trying to run openni_camera/driverNodelet.

[2012-11-11 10:18] tfoote commented on #1
Is this possibly an issue when installing from source as the package will
be there, but the xml won't be installed?

On Sat, Nov 10, 2012 at 8:28 PM, Daniel Stonier notifications@github.comwrote:

##

Tully Foote
tfoote@willowgarage.com
(650) 475-2827

[2012-11-14 09:00] stonier commented on #1
Can't reproduce this. It was failing for us when loading up openni_camera/driverNodelet, but that is working now.

And to answer your question, we were not using source.

I'll close it for now and reopen it if I come across the problem again.

[2012-11-14 09:00] #1 closed, assigned to nobody

[2012-12-18 02:02] chadrockey opened #2 "Allow ros console macros to be reused for node / nodelet code"
Low priority, wait til rainy day:

It would be nice to automatically handle the appropriate behavior based on if the software was running from a node or a nodelet.

It seems the best way to write a nodelet is to:
1) Underlying ROS agnostic library
2) ROS Class around library that uses nodehandles
3) Nodelet that instantiates class
4) Node that instantiates class

This provides the advantages of no

[2013-01-06 00:17] kalectro opened #3 "dependency in package.xml missing"
nodelet_core/nodelet/CMakeLists.txt:34 asks for the package message_runtime, but nodelet_core/nodelet/package.xml only adds it as a run_depend.
Did not compile for me, adding the line

[code]

did the trick

[2013-01-06 02:05] dirk-thomas commented on #3
The current code builds perfectly fine - that is also the version the Debian package is built from on the buildfarm. CATKIN_DEPENDS are not build dependencies but only exported for packages which depend on nodelet so message_runtime being a runtime dependency only is correct.

If it did not build for you it is likely for a different reason. You may ask a specific question about your setup with det

[2013-01-06 02:05] #3 closed, assigned to nobody

[2013-01-09 22:30] tfoote opened #4 "nodelet fails to link uuid"
nodelet_core/nodelet fails to build due to not having libuuid linked. Tiny
 patch attached.

 Environment:  Archlinux x64

From: https://code.ros.org/trac/ros-pkg/ticket/5598

[2013-01-09 22:31] tfoote commented on #4
Patch at: https://code.ros.org/trac/ros-pkg/attachment/ticket/5598/nodelet_uuid.patch

[2013-01-09 23:21] #4 closed, assigned to nobody

[2013-01-09 23:22] dirk-thomas commented on #4
Also affects bond_cpp - also fixed there.

[2013-07-24 21:40] wjwwood opened #6 "Release for Groovy"
I backported a fix for `nodelet` where `pluginlib` was not being declared as a transitive dependency.

https://github.com/ros/nodelet_core/commit/53d0f6779cecacac6edea748fbf29012015ba3f0

There are some other fixes that need releasing too, should we release it for Groovy soon?

[2013-07-24 21:45] dirk-thomas commented on #6
+1

[2013-07-24 21:47] wjwwood commented on #6
I'll do it.

[2013-07-24 21:55] wjwwood commented on #6
Done: https://github.com/ros/rosdistro/pull/1533

[2013-07-24 21:55] #6 closed, assigned to nobody

[2013-08-14 00:05] stonier opened #7 "Nodelet namespacing issues"
Test catkin package: https://github.com/stonier/ros_testing

Namespacing for public and private is broken in a particular configuration: https://github.com/stonier/ros_testing/blob/master/namespaced_manager.launch

The results of that launch file put public and private topics in quite disparate places:

[code]

where it should probably be

[code]

I have three other namespace variations there, all

[2013-11-12 20:51] astaa-nrec opened #8 "nodelets crash and repeatedly fail to respawn upon jumping system time"
Launch the following launch file:

[code]

Now set the system time ahead to one minute in the future:

[code]

You will observe the nodelet die repeatedly, first with a "bond broken" message, then with the error:

[code]

and then subsequently with the error:

[code]

The issue can be traced to lines 109-117 of loader.cpp:

[code]

After the first crash of the nodelet, `bond_map_` still has an ent

[2013-11-12 22:53] dirk-thomas commented on #8
Can you please verify that the patch provided in pull request #9 fixes the problem for you?

[2013-11-13 14:09] astaa-nrec commented on #8
Yes, things seem to work properly after I apply that patch.

[2013-11-13 17:58] #8 closed, assigned to dirk-thomas

[2013-11-13 17:58] dirk-thomas commented on #8
Thanks for confirming. Pull request merged.

[2013-11-13 18:44] astaa-nrec commented on #8
Looks like the fix was only merged for hydro. Will groovy get the update as well?

[2013-11-13 19:07] dirk-thomas commented on #8
Yes, I will cherry pick the commit for groovy before the next release.

[2013-12-13 04:11] garaemon opened #10 "nodelet increases CLOSE_WAIT of rosmaster"
I'm using groovy's nodelet and I found that nodelet increases CLOSE_WAIT of rosmaster.

You can simply verify that problem by launching nodelet_tutorial_math.

[code]

It might be an issue of roscpp.

[2013-12-13 07:53] tfoote commented on #10
Thanks for the ticket. Refiled here: https://github.com/ros/ros_comm/issues/325

[2013-12-13 07:53] #10 closed, assigned to nobody

[2014-02-16 16:16] mitchellwills opened #13 "nodelet manager fails to recover if a nodelet throws an exception in init"
If an exception is throw while a nodelet is initializing the ManagedNodelet is left in the nodelet map preventing it from being fully destroyed. This also prevents a nodelet with the same name from being loading into the manger without restarting the manager

[2014-04-14 01:37] protobits opened #15 "support zero-copy services"
As far as I undertand, zero-copy is not implemented for services. It would be really useful to have it. For example, if I want to share a large data structure that does not change, it makes more sense to provide a service that allows to retrieve it and store the reference. Otherwise, I'm forced to publish it periodically, which does not make sense.

[2014-04-14 05:23] dirk-thomas commented on #15
While this would be a great feature there is currently no feature development planned for `nodelet_core`. Without external contributions this improvement is not likely to be addressed by the maintainers. Therefore I will mark the ticket with the milestone `untargeted`.

That being said we will definitely consider this as an interesting feature for the future development of ROS.

[2014-04-14 12:54] protobits commented on #15
OK. If I get to understand the innards of nodelet/ROS I might try to
contribute it, but I can't ensure this.
However, may I ask why nodelet will not be developed in the near future? Is
this intra-process model not a priority for ROS? I consider this aspect of
ROS a really important feature (for example, for computer-vision tasks
where serializing images is out of the question).
Or is it simply a f

[2014-04-14 15:34] protobits opened #16 "message still serialized between nodelets"
I'm currently trying to pass a C++ object between nodelets, for which I have provided the necessary traits (MD5, etc.), in order for it to be accepted by ROS as a message.
Since my goal is to pass a specific object (a static map) between nodelets efficiently, I would like to avoid serializing this message.
Furthermore, since this is an internal message between my nodelet framework for the package

[2014-04-14 16:38] protobits commented on #16
I think I've found the problem. I was publishing from within the "new subscriber" callback:

[code]

This triggers the serialization for some reason. If publising on the regular publisher, it works as expected.

I still don't understand how all of this is achieved. There's some black magic going in the nodelet code.

[2014-04-14 17:11] dirk-thomas commented on #16
This is likely not a bug but just a wrong usage (since it is likely that it would have been noticed by now if nodelets would always serialize). Please post more information about your usage, e.g. some source code might help. Also consider asking questions like this on answers.ros.org first..

[2014-04-14 17:18] dirk-thomas commented on #15
Most of the core ROS packages are in "maintained" status rather then being actively developed with new features planned. This is because we (at OSRF) have only a limited amount of time to work on ROS and we decided that it is better spend on the next iteration of ROS. While we still fix major issues with ROS we can't spend a significant amount of work on new features for existing ROS packages. But

[2014-04-14 17:39] protobits commented on #15
Ok, thank you for your response. I will see if I manage to include this
functionality. However, I don't have a very good understanding on how
nodelet achieves its functionality regarding avoiding serialization. I will
ask a question on answers.ros.org about it.

On Mon, Apr 14, 2014 at 2:18 PM, Dirk Thomas notifications@github.comwrote:

[2014-04-14 19:05] tfoote commented on #15
Note: this is actually a feature request for ros/ros_comm/roscpp not nodelet_core. When you go digging that's where to look. https://github.com/ros/ros_comm

[2014-04-15 15:25] protobits commented on #15
Should I open an issue there then and close this?

[2014-04-15 15:35] protobits commented on #16
When I'm publishing using a shared_ptr on the publisher directly, if I print the pointer value before being sent and the when it is received, I get the same value and the serializer function is not called. In other words, no serialization nor copies occur.
However, when I publish from the callback previously shown, which is triggered by:

[code]

If I print the pointer as:

[code]

before calling

[2014-04-15 17:30] dirk-thomas commented on #15
I think the ticket here is perfectly fine since it only applies to nodelets (even if the enhancement ends up needing changes in roscpp).

[2014-04-15 17:34] dirk-thomas commented on #16
Zero copy only happens when publishing a _shared_ptr_. Publishing a reference will always perform serialization since there is no way to pass ownership of the data.

[2014-04-15 17:35] protobits commented on #16
As I mentioned before, I am publishing a shared_ptr, not a reference.

[2014-04-15 17:48] dirk-thomas commented on #16
Please provide more code - at best a simple (self containing) code example which can be compiled and run.

[2014-04-15 17:52] dirk-thomas commented on #16
The `SingleSubscriberPublisher` might not support zero-copy either. It looks like that it is always serializing: https://github.com/ros/ros_comm/blob/indigo-devel/clients/roscpp/include/ros/single_subscriber_publisher.h

[2014-04-15 17:56] protobits commented on #16
Ok, that must be it. I was suspecting the same thing.
I can't provide self-contained compilable code right now as it is not
simple for me. If needed, I can try to provide it but it will take some
time. However, I see you already have the responsible code in view. Maybe
this is something that I should submit to roscpp.

On Tue, Apr 15, 2014 at 2:52 PM, Dirk Thomas notifications@github.comwrote:

[2014-04-15 18:22] dirk-thomas commented on #16
You might fill a ticket for changing the `SingleSubscriberPublisher` to `roscpp` but without a pull request the chances are pretty low that it will be addressed in the near future.

You might just want to use a "normal" publisher to avoid serialization or does that not work for you?

[2014-04-15 18:34] protobits commented on #16
Ok, I will create a ticket there.
Actually, I wanted this type of publishing to somehow workaround the lack
of zero-copy services. Instead of having a service that provides a map, I
was just sending the map when someone subscribed. At the moment I changed
it so that a service triggers a normal publish. In this way, I almost have
the functionality I need.

On Tue, Apr 15, 2014 at 3:22 PM, Dirk Thom

[2014-04-21 02:47] bit-pirate opened #17 "Update available class list, if class is not found"
pluginlib already contains a function to update the internally stored list of available plugins/classes, `refreshDeclaredClasses()` (http://docs.ros.org/hydro/api/pluginlib/html/class__loader__imp_8h_source.html#l00619).

I suggest to make use of this function when trying to load a nodelet and the requested plugin/class couldn't be found.

[2014-04-21 02:48] bit-pirate commented on #17
This is relevant for https://github.com/robotics-in-concert/rocon_app_platform/issues/211

[2014-04-21 06:25] bit-pirate opened #19 "Only break bond, if nodelet has been successfully unloaded"
Currently the nodelet manager breaks a bond, if an unknown/wrong nodelet name is provided in the unload service.

http://docs.ros.org/hydro/api/nodelet/html/loader_8cpp_source.html#l00128

[2014-04-21 17:33] dirk-thomas commented on #16
I will close this ticket since `nodelet_core` is not the reason here. If you think `SingleSubscriberPublisher` should be patched please fill a ticket for it as mentioned before.

[2014-04-21 17:33] #16 closed, assigned to nobody

[2014-04-21 17:35] dirk-thomas commented on #2
The API of nodes and nodelets is by design different. It is unlikely that this will be changed in the near future (without breaking API). Therefore marking this with milestone `untargeted`.

[2014-05-08 15:44] #19 closed, assigned to nobody

[2014-06-02 23:35] dirk-thomas commented on #17
@esteve Has this been addressed with #20?

[2014-06-05 17:23] esteve commented on #17
@dirk-thomas Yes, closing now.

[2014-06-05 17:23] #17 closed, assigned to nobody

[2014-06-16 10:08] #13 closed, assigned to esteve

[2014-06-17 08:52] lguodongustc opened #22 "std::logic_error"
I am new to ROS, when I run a nodelet as the tutorials,
http://wiki.ros.org/nodelet/Tutorials/Running%20a%20nodelet
"rosrun nodelet nodelet manager __name:=nodelet_manager"  the terminal show

"
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_S_construct null not valid
Aborted (core dumped)
"
I have searched the answer about "std::logic_error" , it seems

[2014-06-17 16:20] esteve commented on #22
I can't seem to reproduce this issue. Did you run anything else before starting the nodelet manager? Is roscore running?

[2014-06-27 13:24] xqms opened #23 "nodelet loader hides load error"
As of commit 4670f3255e447eb874a6f8395f1ac55c593d5fdd, load errors (such as undefined references) can be hidden under certain circumstances.

If the loader is constructed using the

[code]

constructor, the `refresh_classes_` call in https://github.com/ros/nodelet_core/blob/indigo-devel/nodelet/src/loader.cpp#L272 will fail, causing an exception and hiding the initial load error from the user.

Th

[2014-07-03 20:00] protobits opened #25 "documentation request: callbacks, queues and threading"
Hi,
the use of callbacks and threads in terms of servicing callbacks inside the nodelet ecosystem is not clearly documented and is confusing. It would be nice if more detail could be provided for the nodelet documentation on the wiki.

In particular, it is not clear to me on what is the effect of mixing the MT and ST node handles when subscribing from different nodelets associated with a single no

[2014-07-03 20:34] dirk-thomas commented on #25
Please add references to your questions on ROS answers.

[2014-07-03 20:42] protobits commented on #25
Here is the question: http://answers.ros.org/question/172685/how-are-threads-used-to-service-callbacks-in-nodelets/

[2014-08-04 23:12] jdschw commented on #23
Hi,

I'm getting the error described above when I attempt to run rqt_image_view.  I am on Ubuntu 14.04, using the ROS prebuilt rqt packages, i.e. on this project I'm a user, not a developer.  Has this error been seen by other users, and if so, do you know if there is workaround?

[2014-08-04 23:22] xqms commented on #23
There is no generic workaround. The bug in the `nodelet_core` package is that it displays this error message instead of the specific error that occurred, which misleads everyone involved.

To investigate your problem, you could build `nodelet_core` with my fix from #24, re-run the image viewer and report a bug on rqt_image_view with the specific error.

[2014-08-04 23:25] xqms commented on #23
@esteve as this is affecting more people, would you consider merging my fix in #24? Nodelet development/debugging is really tedious without it.

[2014-08-05 01:30] jdschw commented on #23
Thanks for the response.  I was able to identify my problem through other means, and it was unrelated to this codebase, but the "true" error was indeed shadowed by the above error.

[2014-08-05 12:31] esteve commented on #23
@xqms thanks for your patch and sorry for the slow response. Is there a way I could reproduce the issue? I'd like to add a regression test.

[2014-08-08 09:58] xqms commented on #23
I've added a unit test to the PR. If you want to see it fail, check out 79dbd5b.

[2014-08-08 15:07] #23 closed, assigned to esteve

[2014-08-08 15:07] esteve commented on #23
@xqms Thank you so much! Just merged it.

[2014-08-13 15:28] protobits commented on #25
Hi, I'm wondering if it would be possible for you to have a look at this ros question. It has now two months old, it has over 1000 views and still no answer. I'm guessing that the nodelet developers might be the best people to answer this. I'm having many difficulties understanding the implications of using the MT handle and the interaction between subscribers using the ST and MT.

[2014-08-13 22:26] tfoote commented on #25
The documentation at http://wiki.ros.org/nodelet#Threading_Model states that if you use the single threaded node handle you will get guarenteed single threaded. If you use the multithreaded API you callbacks will join the shared pool. If you want more fine grain control you should manage your own threads and callback queues. Overview here: http://wiki.ros.org/roscpp/Overview/Callbacks%20and%20Spin

[2014-08-13 22:26] #25 closed, assigned to nobody

[2014-10-23 19:15] rcodddow opened #26 "Problem linking with uuid on OS X Yosemite"
This seems to be the same issue as in bond_core https://github.com/ros/bond_core/issues/6

I have already tested the changes from https://github.com/ros/bond_core/pull/7 in nodelet which
seems to resolve the issue

[code]

[2014-10-23 20:03] esteve commented on #26
Thanks for testing ros/bond_core#7 and for reporting this issue. Seeing that this may be a recurring issue with OSX Yosemite, I'm going to add a pull request to `cmake_modules` to add the `FindUUID.cmake` module, and update the dependencies accordingly.

[2014-11-13 00:26] esteve commented on #26
This issue was addressed in 031e59ec7020dca932a40665d477cdc6f72c4622 and d7120c0db934501269abbe5fd7cdd206ab6ba5f9

[2014-11-13 00:26] #26 closed, assigned to nobody

[2015-04-02 18:57] #22 closed, assigned to nobody

[2015-04-12 22:56] bricerebsamen opened #28 "nodelet tutorial instructs to use deprecated PLUGINLIB_DECLARE_CLASS"
in http://wiki.ros.org/nodelet/Tutorials/Porting%20nodes%20to%20nodelets

[2015-04-13 16:32] esteve commented on #28
Fixed in the latest revision of the wiki: http://wiki.ros.org/nodelet/Tutorials/Porting%20nodes%20to%20nodelets?action=diff&rev1=17&rev2=18

Thanks for noticing!

[2015-04-13 16:32] #28 closed, assigned to esteve

[2015-04-30 00:29] dirk-thomas opened #29 "The wiki page has outdated bug tracker url"
http://wiki.ros.org/nodelet_core

Bug / feature tracker points to: https://code.ros.org/trac/ros-pkg/query?component=common&status=assigned&status=new&status=reopened

[2015-04-30 15:30] esteve commented on #29
I've updated the wiki page to use the `PackageHeader` macro and updated the `package.xml` file in each branch to point to the correct bugtracker.

[2015-04-30 15:31] esteve commented on #29
How long does it take for the wiki to be updated? Do I have to release a new version of `nodelet_core` for it to have effect?

[2015-04-30 15:59] dirk-thomas commented on #29
The `doc` job will index the repository every three days. Commonly the branch is registered in the distribution file, then you don't need a new release.

[2015-04-30 16:01] esteve commented on #29
@dirk-thomas Thanks. I'm closing the ticket now.

[2015-04-30 16:01] #29 closed, assigned to nobody

[2015-06-23 13:06] DorianScholz commented on #23
This bug still persists on Hydro. Would it be possible to backport the PR #24 for Hydro?

[2015-07-09 13:08] antonioom opened #32 "header.seq is zero"
I have written a small nodelet to save (on demand) the topics "depth/image_raw" and "depth/camera_info" to a rosbag. When I examine the rosbags later on, I notice that the header.seq field is always zero. This causes problems when I try to post-process the images stored in the rosbags with the image_proc and depth_proc packages. My guess is that header.seq doesn't get incremented when doing zero c

[2015-07-09 13:29] tfoote commented on #32
Initially the seq number was specified to increment automatically when publishing. However there are conceptual problems with doing that inside the payload. (For example nodelets cannot do it with the zero copy methods as the data is read only, it could be republished again after being recieved if unchanged, and then the seq number could never be valid as two different subscribers.

Likewise there

[2015-07-16 07:13] antonioom commented on #32
I was getting the error "Topics xxx/depth/image_raw and /xxx/depth/camera_info do not appear to be synchronized" and thought it had something to do with the seq numbers being all zero. I don't know what was causing the problem and unfortunately I can't reproduce it again.

On a side note, I noticed that openni2_camera publishes a common depth/camera_info topic for both depth/image_raw and depth/im

[2015-07-16 07:13] #32 closed, assigned to nobody

[2015-08-18 12:38] mjschuster opened #33 "unload a nodelet from within its own code"
Looks like there is no official and clean way to shut down (unload) a nodelet from within its nodelet code without killing the manager.

Something like

[code]

might work, though I experienced problems when loading and unloading the samle nodelet more than once (however this might have been problems related to that particular nodelet's cleanup). In addition, as far as I can see, the service is no

[2015-12-22 10:19] zuojiang518 opened #35 "When set system time ahead nodelet crash"
When set the system time ahead to one minute in the future, the nodelet crashed, and print as follow:
[ INFO] [1450779353.034638293]: Bond broken, exiting
[yocs_cmd_vel_mux-2] process has finished cleanly

Is this issue a bug?

[2015-12-22 17:24] tfoote commented on #35
Can you clarify that you jumped your system time forward by a minute while running? If so I would expect that would cause problems with bond, which is checking that you have connectivity via a heartbeat. If you jump a process forward by a minute all the timeouts for the heartbeat will expire and it will assume that it's been a full minute since it heard from the other end and nodelets are designed

[2015-12-26 01:21] zuojiang518 commented on #35
Yes, you're right, the reason is what you said. Because my device does not save time, so while it connected to network it will synchronize its system time with NTP. So the system time jumped, and the nodelets bond broken. I modified the judgement of timeout to continuous lost three heatbeats. Now when its system time changed the nodelets do not bond broken.

[2015-12-28 02:21] #35 closed, assigned to nobody

[2015-12-31 13:10] progtologist opened #36 "Unit Testing Nodelets"
While using nodelets, I discovered that the API does not provide a method for returning a nodelet object from the nodelet loader. Although such a method is not the proposed way to use nodelets, it would be very useful for unit testing nodelets with google tests.

Right now, the only way to do this is to use the

[code]

method to instantiate the object, and to share that pointer with the unit test

[2016-01-22 12:03] progtologist commented on #7
This is a really important issue that has not received any attention since 2013! The problem itself roots to the [NodeHandle](https://github.com/ros/ros_comm/blob/indigo-devel/clients/roscpp/src/libros/node_handle.cpp) constructor API, which apparently has no real global namespace constructor. I have made a minor change in roscpp and issue a pull request, though I doubt it will be integrated anyti

[2016-01-22 18:05] tfoote commented on #7
@progtologist Can you link to your pull request here so we can review it?

[2016-01-23 00:01] progtologist commented on #7
@tfoote I postponed the PR because I found a minor unresolved issue while testing it. I will work on it in the next days and link the PR here once I have tested it extensively.

[2016-02-10 09:05] progtologist commented on #7
@tfoote I have created a PR here (#37) that unit tests the nodehandles. I tried to trace it back in roscpp but I got lost at some point (debugging with nodelets and launchfiles is not that trivial for me).

As you can see, one of the tests is failing. The problem is that, when the NodeHandle constructor receives a NodeHandle with the namespace "/", it tries to resolve this, instead of assuming it

[2016-02-10 09:11] tfoote commented on #7
@progtologist Thanks for the unit tests. That will be very helpful for tracking this down. I haven't looked into the full details, but based on what you've described it, I would have expected the '/' to resolve immediately to itself.

[2016-03-22 19:59] bafonso opened #42 "image Header seq field is 0 when run as a nodelet"
My function:

[code]

Is called back fine, I subscribe to it fine and I even can get the timestamps properly. but I cannot see .seq increasing as it should. Rostopic does show it increasing, so my Ptr variables are losing it somewhere. This is critical in order for me to know if I'm losing frames or not from the camera.

[2016-03-22 20:05] tfoote commented on #42
Duplicate #32

[2016-03-22 20:05] #42 closed, assigned to nobody

[2016-06-26 12:29] taogashi opened #43 "how to correctly unload a nodelet"
It seems to me the command line `nodelet unload name manager` doesn't take any effect.
The class I create does nothing but printing "running" on the screen.
After entering the command line, it just says:

[code]

But the screen is still scrolled with "RUNNING".

[code]

The same thing happens when I want to unload driver_nodelet from velodyne_nodelet_manager which come from package [velodyne](http

[2016-07-14 08:11] xuefengchang opened #44 "problem has been solved"

[2016-07-14 16:20] mikaelarguedas commented on #44
@xuefengchang can this be closed ? Did you need to change anything in `nodelet_core` to solve it ?

[2016-07-18 15:37] #44 closed, assigned to nobody

[2016-09-08 00:12] asymingt opened #46 "Race condition between waitForExistence and nodelet registration"
Consider a scenario with two nodelets running within the same nodelet manager. One nodelet offers a ROS service which the other nodelet calls. There is no guarantee which service will start up first, so the logical step is to use the `waitForExistence` call in the client's `Nodelet::onInit()` implementation. For example:

[code]

Unfortunately, the nodelet package uses a service call to register n

[2016-09-08 00:48] tfoote commented on #46
This is known expected behavior.

From the main threading model documentation: http://wiki.ros.org/nodelet#onInit `This method is called on init and should not block or do significant work.`

All of the onInit calls are called from the same management thread sequentially. If you block inside the onInit of one nodelet, any subsequent nodelets will never initialize because you are blocking the threa

[2016-09-08 01:00] asymingt commented on #46
Thanks for explaining why this is the case. Do you know of any packages that use the approach you have suggested, so that I have some sort of threading pattern to follow?

Right now I figured out that I can use a ROS timer to defer the execution of my initialization code by a second. This essentially permits nodelet registrations to take place before services are probed. My intuition is that this

[2016-09-08 01:45] tfoote commented on #46
You can set the timer length to approximately zero and then use your waiting logic. The trick is that registering the timer gets you into the separate thread from the callback queue.

Add a private method:

[code]

And a private boost_thread class member:
`boost::thread& startup_thread_;`

And in the onInit

[code]

And for cleanliness you should probably also join the thread in the destructor.

[2016-09-08 02:04] asymingt commented on #46
Great, thanks! Didn't realise it was that simple.

[2016-09-08 02:04] #46 closed, assigned to nobody

[2016-10-15 13:03] wkentaro opened #48 "Error on declared_nodelet executable"
[code]

[2016-10-18 17:07] #48 closed, assigned to nobody

[2016-10-19 21:59] dseifert opened #50 "Nodelet unloading broken"
I notice an issue with nodelets not being properly unloaded. Consider a launch file that starts `n` nodelets (with n > 9, I recommend n = 20) in the same nodelet manager:

[code]

and once these 20 nodelets are up and running, pressing Ctrl-C. One would expect that the shutdown process is quite linear, with all 20 nodelets and the manager being shut down quickly. However it _seems_ the first 9 nod

[2016-10-20 18:46] mikaelarguedas commented on #50
Thanks for the detailed report.
Tested your fix for 2 and 3, it is a great improvement. It seems that sometimes the nodelet manager is teared down before all nodelets are fully unloading, investigating right now.

Regarding one: I see how it can be confusing. the message "Unloading nodelet <nodelet_name> from manager <nodelet_manager_name>" means that a request to unload the nodelet has been sent.

[2016-10-20 19:49] dseifert commented on #50
As far as I could see, the manager is torn down before all nodelets because roslaunch has 10 process killers running in parallel. Once it gets to the manager and the manager gets the SIGINT signal, it just stops without properly clearing the remaining nodelets. My guess would be that nodelet.cpp should install a signal handler as well for the "manager" case and initiate a shutdown for all nodes fr

[2016-10-30 20:07] dseifert commented on #50
@mikaelarguedas re point 1: is it the intended behaviour that when quitting the nodelet manager, all remaining running nodelets are not being destructed? If not, I'd like to open a new issue for it in order to get #51 merged, as this is a slightly different issue.

To test this, prepare the following:
1. add a destructor to nodelet_core/test_nodelet/src/plus.cpp that has a ROS_INFO (or higher) out

[2016-12-02 17:19] wkentaro opened #52 "Creating kinetic-devel branch?"
@mikaelarguedas You stopped releasing new features to indigo and jade, so it is the time to create the kinetic-devel branch, right?

[2016-12-02 17:26] mikaelarguedas commented on #52
@wkentaro Can you be more specific about the features you are referring to ?

1.9.8 has been released for all distros (c.f [status page comparison](http://repositories.ros.org/status_page/compare_indigo_jade_kinetic.html?q=nodelet))

I'm sometimes delaying releases on indigo and jade to allow more time for testing to be sure not to break anything on the previous distros but the goal for now is to

[2016-12-02 17:30] wkentaro commented on #52
I'd like to use this: https://github.com/ros/nodelet_core/commit/e5cb1982fbb73e8b2887c2b5740d0d11fd5cf78a

But seeing [ros/rosdistro](https://github.com/ros/rosdistro/pulls?q=is%3Apr+nodelet_core+is%3Aclosed), it does not seem released because PR for 1.9.6-0 was closed:
https://github.com/ros/rosdistro/pull/13041

[2016-12-02 17:35] wkentaro commented on #52
@mikaelarguedas
Oops, sorry, maybe I'm missing something.

I'm using shadow-fixed for apt and installed nodelet via apt,
and found the nodelet_lazy.h file as shown in below:

[code]

[2016-12-02 17:40] mikaelarguedas commented on #52
1.9.6 has not been release because the timing between the indigo sync and the testing of these changes was not optimal. I closed it in favor of 1.9.7 that includes both the changes of #45 and #49. So you should be able to leverage both.
Thanks for both these contributions BTW :+1:

[2016-12-02 18:07] wkentaro commented on #52
Thank you!

[2016-12-02 18:07] #52 closed, assigned to nobody

[2017-02-16 13:53] mxsrc commented on #22
I am experiencing this behavior, too. I can't pinpoint it right now, it happens when running my usual launch-file with three nodelets and a nodelet_manager. When starting the manager and the nodelets separatly the error does not occur though this might be due to parameters not being set up which usually come from my launchfile.
The exact error message is:

    terminate called after throwing an in

[2017-02-24 18:08] flixr commented on #35
I also just ran into this problem when using PTP to sync time...
I'm wondering why we don't "simply" use CLOCK_MONOTONIC to check the bond timeouts? Then this would not occur.

[2017-02-24 19:19] tfoote commented on #35
@mikaelarguedas FYI related to our discussions about bond

[2017-02-24 19:25] mikaelarguedas commented on #35
Thanks @flixr for reporting the issue. We were discussing this with @tfoote recently. I'll open an more detailed issue on the bond_core repo explaining the drawbacks of the different approaches and propose a solution.

[2017-02-24 20:59] flixr commented on #35
Thanks for the prompt feedback!
I'd be very much interested in a proposal/solution for this and can definitely offer help and testing for this here...

I also saw the issue https://github.com/ros/roscpp_core/issues/33
Please note that I'm in no way endorsing the use of the monotonic clock for wall time or anything like that.
But IMHO the durations should use the monotonic clock by default (if not

[2017-02-24 21:38] mikaelarguedas commented on #35
@flixr I started an issue here open for discussion: https://github.com/ros/bond_core/issues/16
I'll also have a look at the roscpp issue you pointed at.

I do agree that NTP and friends allow to slowly adjust time. It works for a lot of cases but I can imagine cases (e.g. SBC without battery for RTC) where you just can't drift slowly from epoch to "now" in a decent amount of time. So I think that

[2017-02-25 10:18] flixr commented on #35
Don't get me wrong, we need something here that can deal with time jumps.
Just saying that CLOCK_MONOTONIC is also slowly slew adjusted by NTP, just doesn't jump.... so it's exactly what we want to compute timeouts.

[2017-03-09 13:29] mikaelarguedas opened #55 "Nodelets not tear down when nodelet manager receives SIGINT"
Reposting this as a standalone issue here . Thanks @dseifert for [reporting this](https://github.com/ros/nodelet_core/issues/50#issuecomment-257175413)).

[2017-03-09 13:30] mikaelarguedas commented on #50
closing this in favor of #55

[2017-03-09 13:30] #50 closed, assigned to nobody

[2017-10-16 09:09] HWiese1980 commented on #33
Anything new and worth mentioning about this? Is there an official way by now?

[2017-10-20 14:09] mikepurvis opened #67 "struct/class declaration mixup in nodelet"
[code]

[2017-10-20 20:59] #67 closed, assigned to nobody

[2017-11-25 08:47] asimay opened #71 "does this tool support "relay" mode?"
does this tool support "relay" mode?
if not, and can you add it?

[2017-11-25 20:50] mikaelarguedas commented on #71
Hi @asimay,
Could you expllain what you mean by "relay" mode? Do you want to create node/nodelet that subscribe to a topic and republishes the same data on another topic ?

[2017-11-26 02:55] asimay commented on #71
hi, @mikaelarguedas , dear, yes. I used topic_tools before, and find your tools, topic_tools has "relay" mode, and I want to know your package has this kind of mode or not? because I need to defined this kind of mode across files.

but 1 disadvantage of topic_tools relay mode is: it also copy the topic data, this will waste the resources of PC.

[2017-11-26 17:58] mikaelarguedas commented on #71
Thanks for clarifying.
Currently `nodelet_topic_tools` does **not** provide a `relay` nodelet.

It could be fairly easily implemented by providing a nodelet templated on the message type and taking input and output topic names as parameters (you can look at nodelet_mux.h or nodelet_throttle.h for examples of nodelets templated on message types.

Though it is recommended to remap topics (if it make

[2018-01-25 21:31] eric-wieser opened #72 "Using ${node} in ROSCONSOLE_FORMAT does not print out the nodelet name"
This is possibly by design, but it is somewhat frustrating.

At present, it prints out the nodelet manager, which is less useful.

[2018-04-27 17:37] mikaelarguedas commented on #43
@taogashi Sorry for the late reply. I assume you figured it out by now, but calling unload on nodelets **is** the correct way to unload a nodelet. The problem you are facing is that your nodelet initialization function never exits. This doesnt seem to be the case with the velodyne nodelet from looking at the code, so this is likely a different problem there.

Thanks for reporting this! However, we

[2018-04-27 17:37] #43 closed, assigned to nobody

[2018-05-25 01:42] YvesZHI opened #76 "add `-std=c++0x` manually"
I'm working on Ubuntu 16.04.3 and the version of gcc is 5.4.0.

After downloading the ros package nodelet from Github and all of its necessary dependencies, I tried to execute `./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release` to compile it but failed.

Here is the detail: https://answers.ros.org/question/292165/nodelet-error-nullptr-was-not-declared-in-this-scope/

To co

[2018-05-25 08:00] gavanderhoorn commented on #76
@YvesZHI: it would be good if you could describe the platform that you are running Ubuntu 16.04.3 on. From your other questions on ROS Answers I suspect it may not be a regular `amd64` PC.

[2018-05-25 08:58] mikaelarguedas commented on #76
Hi @YvesZHI, thanks for reporting the issue.

Unfortunately this  doesnt not provide enough information to help you.
Providing the details of what platform, ROS distribution and branches of the repository you compile would be valuable.

Looking at the error you posted on ROS Answers, my guess is that you compiled the `melodic-devel` version of `class_loader` instead of the`indigo-devel` one.
To kn

[2018-05-26 02:59] YvesZHI commented on #76
@mikaelarguedas
Oh, you are right. After switching to the branch `indigo-devel` for the `class_loader`, everything works fine now.

[2018-05-26 02:59] #76 closed, assigned to nobody

[2018-07-28 14:37] lucasw opened #77 "getMTNodeHandle doesn't result in more callbacks in parallel on a single topic"
From https://answers.ros.org/question/298750/getmtnodehandlegetmtprivatenodehandle-doesnt-result-in-additional-callbacks-but-does-take-more-cpu/

I assumed from the line "getMTNodeHandle() and getMTPrivateNodeHandle() callbacks will be distributed over the thread pool of the manager" from http://wiki.ros.org/nodelet#Threading_Model that switching a subscriber in a nodelet from using getNodeHandle(

[2018-07-29 16:07] lucasw opened #78 "nodelet demux assertion `px != 0' in onInit"
I'm using kinetic with Ubuntu 16.04 and compiling the nodelet demux header with -std=c++11 in https://github.com/lucasw/nodelet_demo (https://github.com/lucasw/nodelet_demo/issues/1)

(The pcl demux also errors out on load, but maybe for different reasons?)

The crash happens at:

    *pubs_output_[d] = private_nh_.template advertise<T> ((std::string)(output_topics_[d]), 1);

and the fix is:

[2018-07-29 16:19] lucasw opened #79 "demux publish output on only one selected output topic"
There could be different modes:

* the default stays the same for legacy users
* iterates through all outputs so each gets 1/N of the messages (this is what I want the nodelet to do).
* has a numerical (or string match the topic name?) input topic that selects which output topic to be used (which is most like a real demux).  This could be more complicated if it were a mask, so any combination of o

[2018-08-22 17:10] kveretennicov opened #83 "declared_nodelets does not parse plugin .xml with multiple <library> tags"

[2018-08-22 17:10] kveretennicov commented on #83
Seems to be caused by declared_nodelets.py not being able to parse a nodelet plugin .xml that is in XML fragment format, with multiple XML "roots".

[2018-09-08 21:58] kveretennicov commented on #83
My misunderstanding. As can be seen in https://github.com/ros/pluginlib/blob/kinetic-devel/include/pluginlib/class_loader_imp.hpp#L658, the plugin description file must be a well-formed single-root XML. If multiple `<library>` entries are needed, they can be placed under `<class_libraries>` root.

[2018-09-08 21:58] #83 closed, assigned to nobody

[2018-10-30 05:47] kraravin opened #84 "ImportError: No module named rospkg while building nodelet-topic-tools"
I am building meta-ros for ARM. Here is the build logs,

| catkin_generated/env_cached.sh /local/mnt/workspace/Automotive/LV_ROS_Build/poky/build/tmp-glibc/work/aarch64-oe-linux/nodelet-topic-tools/1.9.10-r0/nodelet_core-1.9.10/nodelet_topic_tools/cfg/NodeletThrottle.cfg /local/mnt/workspace/Automotive/LV_ROS_Build/poky/build/tmp-glibc/work/aarch64-oe-linux/nodelet-topic-tools/1.9.10-r0/recipe-sys

[2019-02-04 16:00] andviane commented on #55
Confirmed. We have the server thread that must be properly shutdown in destructor (seems the recommended practice). By placing the log statement there we discovered that the destructor does not run while killing the application with CTRL-C.

[2019-02-15 17:46] mjcarroll opened #86 "New CI test failure in Melodic+"
[code]

[2019-03-08 08:54] 130s opened #87 "Static linking to uuid which might be GPL?"
This is similar post with https://github.com/ros/bond_core/issues/47. While nodelet depends on bondcpp, I open a separate ticket as I'm not certain if the discussion in this ticket is the same as said ticket.

IANAL and I'm not entirely sure the following concern is valid.

`nodelet` [statically links to uuid](https://github.com/ros/nodelet_core/blob/2ec24ff596ca5d49295c85d951aa3b536ff10f8b/nodele

[2019-03-08 19:39] tfoote commented on #87
Viewing the contained copyright file in the debian package: http://changelogs.ubuntu.com/changelogs/pool/main/u/util-linux/util-linux_2.27.1-6ubuntu3/copyright

There are several licenses for different parts of that package.

libuuid from that package is BSD licensed:
[code]

This includes the header file you mention is used and the source for the library linked against.

[2019-03-10 00:16] shaun-edwards commented on #87
@130s, I have verified the link/license that to which @tfoote is linking.  I'm in agreement with his assessment.

[2019-03-11 20:17] 130s commented on #87
Thanks for finding @tfoote. Without much experience in this regard, I agree with your finding to take the release note / changelog as the latest correct license info than the files being installed via the released binary software in my finding.

[2019-03-11 20:17] #87 closed, assigned to nobody

[2019-07-08 19:00] danielwangksu opened #88 "Coverity - Event member_not_init_in_gen_ctor"
Event member_not_init_in_gen_ctor: The compiler-generated constructor for this class does not initialize "is_bond_enabled_".
https://github.com/ros/nodelet_core/blob/c833c6e64f7f228de2c2bd56a7c60d279b6910f4/nodelet/src/nodelet.cpp#L89

[2019-08-30 20:17] daniel-dsouza opened #94 "cannot chain two of the same nodelet in the same nodelet manager"
Hello,

I am trying to run two of the same nodelets in the same nodelet manager, and am having trouble remapping topics. If I run the nodelets as standalone, I can pass data from p1 to p2 to p3, but if I have both nodelets in the same manager, then crop1 still publishes data, but does not print any output with `NODELET_INFO_STREAM`, and crop2 does not seem to subscribe to the correct topic.

I am

[2019-09-21 22:42] jpapon commented on #55
I'm experiencing what I believe is a related issue in ros-melodic.
With various camera drivers (realsense-ros, libuvc_ros, avt_camera, etc...), when using nodelet mangers with many nodelets in them, I am unable to relaunch pipelines on an already started roscore.
So this does not work:
1. roscore
2. In second terminal session, roslaunch my pipeline which has 10-20 nodelets in the nodelet manager,

[2019-11-04 10:48] ohryshchuk opened #99 "Loader crash issue"
Hi,

There is a crash issue inside LoaderROS:

[code]

Please consider fix in attachment. It addresses two issues:
1. Protection of bond_map_ deletion against concurrent access from multiple threads.
2. nodelets_ must outlive LoaderROS. According to above stack trace Loader accesses nodelets_ when it is already deleted.

[crash_fix.txt](https://github.com/ros/nodelet_core/files/3803469/crash_fix.t

[2019-11-14 16:04] vshum commented on #99
This crash was reproduced on Ubuntu 16.04.6 with latest ROS Kinetic Kame packages and nodelet 1.9.14

[2019-12-02 16:19] tompe17 commented on #55
I see a similar issue to what jpapon describes.

I have a launch files that starts 350 nodes or nodelets.  And if I do not restart the roscore when re-running the launch file I get problem with nodes (are nodelets) being killed because name duplication. But the different names should be in different namespace so that should not be an issue.

If I let the launch file start the roscore then it works

[2019-12-16 10:28] qwvLJV7C opened #100 "Cannot load nodelet /Plus for one exists with that name already"
**distro**: Ubuntu bionic
**rosdistro**: melodic

I experimented with the --respawn and --no-bond flags basing on the http://wiki.ros.org/nodelet_tutorial_math and have a following issue:

If the "respawn" option is set to a nodelet, e.g. "Plus", and then it gets crashed by e.g. sending a SIGSEGV signal, the following msg appears in a loop:

[code]

Sometimes it vanishes after some time, and the "

[2020-01-01 08:31] doronhi commented on #55
I have the same issue with realsense2_camera (realsense-ros).
After running `roslaunch realsense2_camera rs_camera.launch`,
The command `rosnode kill /camera/realsense2_camera` triggers the nodelet's destructor while `rosnode kill /camera/realsense2_camera_manager` and "Ctrl-C" do not.

[2020-01-09 00:40] tfoote commented on #100
This looks like expected behavior. If you disable the bond functionality. The nodelet will not be unloaded when you hard kill the nodelet placeholder process. The actual functionality is running in the manager and only goes away if it looses the bond connection to the placeholder process. If you use respawn to try to respawn the placeholder process it won't be able to do so because the nodelet is

[2020-01-09 00:40] #100 closed, assigned to nobody

[2020-01-12 23:38] flixr commented on #99
@ohryshchuk please consider opening a PR for the fix

[2020-01-13 16:44] qwvLJV7C commented on #100
Ok, got it, so the cultprit was the --no-bond flag.
Does it ever make a sense to have --respawn && --no-bond in the nodelet then?

[2020-01-14 00:01] tfoote commented on #100
It doesn't make sense to use those two together. In general for most users I wouldn't recommend using `--no-bond`. It's primary use case is for highly lossy networks where the bond is more likely to break than the nodelet crashing. A much better solution is to launch the nodelet launcher on the same machine as the manager then the loopback interface can be used and the reliability of the bond is h

[2020-07-29 11:25] YoshuaNava commented on #55
Hi all,
In my view this could be happening because when trying to shut down the nodelet

1) We might be breaking the bond with ROS before the components are unloaded
2) There is no ros::Time available to leave waits like the one for service calls to shutdown: https://github.com/ros/nodelet_core/blob/indigo-devel/nodelet/src/nodelet.cpp#L192

I think the second point would be easy to verify, by add

[2020-11-29 19:10] klaxalk opened #106 "[BUG] Noetic: execution of code in 'onInit()' after timers/subscribers init can break said timers/subscribers"
Since the first commit in between Noetic and Melodic: https://github.com/ros/nodelet_core/commit/5272c3462e7c7ebab9848ed943d5c926b1e75842, the callback queue can be broken by executing code in `onInit()` between subscriber/timer initialization and the end of `onInit()`. The commit in fact causes the very problem it was supposed to fix.

Initially, I thought my problems were **ros:Timer**-related.

[2021-01-19 17:50] Martin-Oehler commented on #106
This is a serious regression, which costed me a few hours as well (and certainly more if not for this issue, thank you @klaxalk). The offending commit should be reverted as soon as possible.

[2021-01-26 01:37] mjcarroll commented on #106
I have reverted this via #107 for now.  I would be willing to take another alternative if there is enough coverage to prove that it won't break existing use cases.

A new release has been cut for `noetic`, which should have a sync in a few weeks while this soaks in the testing buildfarm.  Look for the sync announcement on discourse.

https://github.com/ros/rosdistro/pull/28121

Apologies for the r

[2021-01-28 18:06] #106 closed, assigned to nobody

[2021-01-28 18:15] klaxalk commented on #94
Hey, I guess that you already solved it since 2019, but it might be worth answering for the sake of others. I might say that the nodelet might be at fault. To truly remap topics you should remap them relatively to `crop1` and `crop2`, as:
[code]

But I suspect that those `pointcloud_in` and `pointcloud_out` might be coming out as `/pointcloud_in` and `/pointcloud_in`, which would suggest that you

[2021-01-29 19:30] daniel-dsouza commented on #94
@klaxalk I have not seen the "~" in a remap before. Is it explicitly specifying that the topic is in the node(let) namespace?

[2021-01-29 19:42] klaxalk commented on #94
Yes, `~pointcloud_in` under the **crop1** node will actually remap `/crop1/pointcloud_in`. And with the private node handler, the topic (in my example `topic_out`) will come out `/crop1/topic_out` as unremapped. So this behavior will allow to run multiple instances of the same nodelet and/or nest them in groups.

[2021-01-29 19:52] daniel-dsouza commented on #94
Wonderful. While this may not solve the underlying issue, I think that your solution fixes the problem.

[2021-01-29 19:52] #94 closed, assigned to nobody

[2021-01-29 19:56] klaxalk commented on #94
Ah, and regarding the prints. When you run notelets under a nodelet manager, not as standalone, all the output is actually coming out of the nodelet manager. So when you run some nodelet in a separate terminal, don't look for its prints in its window, rather in the window with the manager.

[2021-02-11 05:51] dabonnie commented on #46
@tfoote is the nodelet manager OnInit() sequential behavior still the case for a multi-threaded environment? Or is OnInit() single threaded regardless?

Edit: I see the load methods are [guarded by a mutex](https://github.com/ros/nodelet_core/blob/2d304e773bfa60b91bfae8ba2fc9d082d8015cd2/nodelet/src/loader.cpp#L268), so guessing this is the reason.

[2021-02-11 08:41] tfoote commented on #46
Yes, it's the protection of the list of the nodelets that requires the protection not the number of threads available.

[2021-02-11 22:22] mwcondino opened #108 "Subscribing to a latched topic can cause indefinite hang in subscriber"
I encountered a very strange bug in `noetic` today. The gist of it is that if there's enough time between the creation of a subscriber (which is being published to by a latched pub) and exiting the `onInit` method, the latched message will never trigger a callback. Furthermore, this bug causes that subscriber to _never_ fire any callbacks.

To test this, I wrote a simple package implementing a tes

[2021-02-15 10:15] LucasWaelti commented on #55
A possible work around would be to kill the nodelet manager. For instance, assume the following nodes are running but need to be restarted:
[code]
By running the command:
[code]
all associated nodelets are killed and can then be restarted. Killing `/stereo/stereo_cam_nodelet` first prevents to restart the nodelets however.

[2021-02-16 23:02] acarrillo commented on #108
Chiming in to say that I have experienced this exact symptom since switching from `kinetic` to `noetic` as well. In my case I had to work around by replacing my passive subscriber to a latched publisher with an explicit polling service call, but that is only because my service call rate was ~ 1Hz scale so this solution felt appropriate. It was interesting to me that my vanilla `node` subscribers w

[2021-02-18 00:16] mwcondino commented on #108
Ah looks like this is likely a duplicate of https://github.com/ros/nodelet_core/issues/106 which has been patched in `1.10.1-1focal`. Just needed to upgrade my local version of `nodelet` and that fixed things.

[2021-02-18 00:16] #108 closed, assigned to nobody

[2021-03-22 21:19] daniel-dsouza commented on #36
do you by any chance still have an example of this?

[2021-03-23 12:49] progtologist commented on #36
Unfortunately I don't have access to that code anymore.
If I remember correctly though, you must create a function that creates nodelets and create a loader providing that function.
In your function you can have a std::map or even an std::vector that, while instantiating the nodelet, also adds it to that structure.
From your app, you use that new loader to instantiate the nodelet, and you can acce

[2021-03-30 02:00] SeokHwanHam opened #109 "How should I deal with the update function in converting from node to nodelet"
Hi,
I want to convert a ROS driver in node into nodelet.
For update function which is called every loop such as:

{
    update();
    ros::spinOnce();
}

How this "update()" call is to be converted in nodelet?

I think createTimer(Duration(0, 0), update) does. But I cannot be assured because I don't exactly know how the ROS Timer works under the hood and I cannot find anything about this by googli

[2021-06-16 09:26] mark-goodall opened #110 "Nodelet hang on setParam"
I'm not sure if this is the right place to report this issue, but if I have a nodelet (named for example `foo`) and there is a large amount of params in `/foo/*` When launching the nodelet it hangs/deadlocks with `[setParam] Failed to contact master at [localhost:11311].  Retrying...` I suspect that the length of the params is bigger than some maximum size and gets rejected. Possibly some more hel

[2021-07-13 15:47] stefansobol opened #111 "File descriptor issue"
Short description of the scenario:
- ROS Melodic
- at least two nodelets under the same nodelet manager
- in one of the nodelet have a file descriptor created in "onInit"
- no other nodelets are using file descriptors
- use a launch with roslaunch

Whats happening is that there is an operation on the file descriptor that was not triggered by the nodelet. If I'm looking
over the file descriptors th

[2021-08-23 16:12] jokla commented on #110
I have the same issue, but it is not happening all the time. Not sure what the problem is though.

[2021-09-08 07:15] peci1 commented on #110
Maybe this is related? https://github.com/ros/ros_comm/issues/2182

[2021-09-08 07:27] mark-goodall commented on #110
Yes, this is the behaviour I am seeing. I've just tried this on a more recent ubuntu (which is also a different machine) and it doesn't happen. I'll close this issue, because it looks to be an issue elsewhere in ros.

[2021-09-08 07:27] #110 closed, assigned to nobody

[2021-09-22 20:51] drjsmith commented on #77
By default, concurrent callbacks by the same Subscriber are not allowed. However, you can enable them by setting the `allow_concurrent_callbacks` field of the [SubscribeOptions](http://docs.ros.org/en/indigo/api/roscpp/html/structros_1_1SubscribeOptions.html#ad6bc756dc2e7971110d1efa37d8c60e0.) to `true`.

[This issue](https://github.com/ros/ros_comm/issues/1545) explains the increase in cpu.

[2021-09-23 14:52] lucasw commented on #77
Thanks, I got that working like this and I can see the concurrency happening correctly:

[code]
https://github.com/lucasw/nodelet_demo/blob/6160a2f28b351ee4da76ed48111a2927cb05972f/nodelet_demo/src/nodelet_demo.cpp#L127

[2021-09-23 14:52] #77 closed, assigned to nobody